<div class="w3-margin-bottom w3-padding-bottom"><h3>{{ include.title }}</h3></div>
<div class="w3-row">
  <div class="w3-third w3-center">
    <img src="{{ include.image_path }}" alt="Study Image" class="w3-round">
    <div><a href="{{ include.link }}" target="_blank" style="text-decoration: none;" class="w3-button w3-teal w3-margin-top">Click here to sign up!</a></div>
  </div>
  <div class="w3-twothird">
    <div class="w3-padding">
    {{ include.description | markdownify }}
    <h4>Details:</h4>
    {{ include.details | markdownify }}
    </div>
  </div>
</div>
